@media (max-width: 767px) {
    .header {
        background-color: var(--cigna-blue);
        background-image: url("../images/leafs.png");
        background-size: auto 30%;
        background-repeat: no-repeat;
        background-position: right top;
        padding-top:20px;

        & .cigna-logo {
            width: auto;
            height: 75px;
            margin-bottom:20px;
        }

        & h1 {
            font-size: 26px;
        }

        & h4 {
            font-size: 12px;
            margin-bottom: 0px;
        }
    }

    .midgard {
        & .body-text {
            font-size: 16px;
            line-height: 18px;
            margin-top: 40px;
            padding-right: 40px;
            padding-left: 40px;
        }

        & .savings-callout {
            padding-left: 40px;
        }

        .pmpy-box {
            width:85%;

            & .pmpy-amount {
                font-size: 60px;
                line-height:30px;
                text-align: center;
            }
    
            & .pmpy-text {
                font-size: 18px;
                line-height:20px;
                text-align: center;
                margin-top: 35px;
            }
        }
        .pmpy-box .container {
            width: 100%;
        }
        .form-area {
            .calculator {
                & h2 {
                    font-size: 30px;
                }
                .calculate-form {
                    padding-left: 10px;

                    & .employee-label-text {
                        display: block;
                        text-align: center;
                        font-size: 16px;
                        line-height: 18px;
                    }

                    & .employee-input {
                        margin: 0px auto;
                        width: 225px;
                    }

                    & .savings-button {
                        display: block;
                        margin: 20px auto;
                    }
                }

                .calculate-result {
                    & .total-savings-text {
                        margin-top: 20px;
                        font-size: 42px;
                        font-weight: bold;
                    }
            
                    & .total-savings-subtext {
                        font-size: 14px;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                }

                & .leaf-text {
                    font-size: 16px;
                    padding-right: 0px;
                } 
            }

            .container.calculator {
                width: 85%;
            }
        }
    }

    .footer {
        & .cigna-legal-text {
            padding-right: 0px;
        }
    }

}


@media (min-width: 524px) and (max-width: 767px){
    .header {
        & h1 {
            font-size: 34px;
            padding-right: 70px;
        }

        & h4 {
            font-size: 16px;
            padding-right: 70px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        & h1 {
            font-size: 30px;
        }

        & h4 {
            font-size: 14px;
        }
    }
    .midgard {
        & .body-text {
            font-size: 14px;
            line-height: 18px;
            margin-top: 40px;
            padding-right: 0px;
            padding-left: 15px;
        }

        & .savings-callout {
            padding-left: 15px;
        }

        .pmpy-box {
            width: 90%;

            & .pmpy-amount {
                font-size: 36px;
                line-height:30px;
                text-align: right;
            }
    
            & .pmpy-text {
                font-size: 12px;
                line-height:14px;
            }
        }
        .pmpy-box .container {
            width: 110%;
            padding-right: 0px;
            padding-left: 0px;
        }
        .form-area {
            .calculator {
                .calculate-form {
                    & .employee-label-text {
                        font-size: 14px;
                        line-height: 16px;
                    }

                    & .employee-input {
                        width: 175px;
                    }
                }
                .calculate-result {
                    & .total-savings-text {
                        font-size: 36px;
                        font-weight: bold;
                    }
            
                    & .total-savings-subtext {
                        font-size: 12px;
                        font-weight: bold;
                    }
                }

                & .leaf-text {
                    padding-right: 0px;
                } 
            }
        }
    }

    .footer {
        & .cigna-legal-text {
            padding-right: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        & h1 {
            padding-right: 200px;
        }

        & h4 {
            padding-right: 200px;
        }
    }

    .midgard {
        .pmpy-box {
            width: 90%;

            & .pmpy-amount {
                font-size: 50px;
                line-height:30px;
                text-align: right;
            }
    
            & .pmpy-text {
                font-size: 18px;
                line-height:20px;
            }
        }
        .pmpy-box .container {
            width: 100%;
        }
        .form-area {
            .calculator {
                & h2 {
                    font-size: 30px;
                }
                .calculate-form {
                    padding-left: 40px;

                    
                }

                .calculate-result {
                    & .total-savings-text {
                        margin-top: 30px;
                        font-size: 50px;
                        font-weight: bold;
                    }
            
                    & .total-savings-subtext {
                        font-size: 16px;
                        line-height: 14px;
                        font-weight: bold;
                        margin-bottom: 30px;
                    }
                }

                & .leaf-text {
                    font-size: 22px;
                    line-height:22px;
                    padding-right: 50px;
                } 
            }

            .container.calculator {
                width: 85%;
            }
        }
    }

}